{
  "presets": [
    "es2015",
    "es2016",
    "react"
  ],
  "plugins": [
    "syntax-flow",
    "transform-class-properties",
    "transform-object-rest-spread",
  ],
  "env": {
    "test": {
      "plugins": []
    }
  }
}
