html, body {
  letter-spacing: 0.1em;

  h1, h2, h3 {
    font-weight: 800;
    letter-spacing: 0em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  h2 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 40px;
  }

  h1 {
    margin: 0px;
    font-weight: 800;
    font-size: 150px;
    letter-spacing: -0.07em;
  }

  .reakt-header {
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .reakt-header__subtitle {
    color: #999;
    margin: 0px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.12em;
    font-family: 'Roboto Condensed', sans-serif;

  }

  div {
    .reakt-component__container {
      padding: 16px;
      display: inline-block;
      vertical-align: top;
    }

    .reakt-component__body {
      font-size: 20px;
      margin: 8px;
    }
  }
}
