html, body {
  letter-spacing: 0.1em;

  h1, h2, h3 {
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  div {
    .reakt-component__body {
      padding: 8px;
    }

    .reakt-component__body {
      margin: 16px;
    }
  }
}
